@import "../../variables";

.user-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $main-bg;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 0;
    color: $text-config;

    &:hover {
      color: $text-config;
      background-color: $white;
    }
  }
}