@import "../../../variables";

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $white;

  &__avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  &__btn-logout {
    padding: 0;
    color: $white;
    font-size: 17px;
    background-color: $victoria;
    border: none;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $fog;
    }
  }

  &__info {
    margin-right: 30px;
    font-size: 16px;
  }
  &__name {
    margin: 0;
  }

  &__position {
    font-size: 12px;
    line-height: 20px;
  }
}
