@import "../../../../variables.scss";

.filter {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  color: $text-config;
  font-size: 14px;
  background-color: $main-bg;
  border: 1px solid $white;

  label {
    margin-right: 10px;
  }

  input,
  select {
    width: 150px;
    height: 30px;
    margin-right: 20px;
    background-color: $white;
    border: none;
    border-radius: 3px;
  }

  button {
    margin-right: 20px;
    padding: 6px 5px;
    color: $pink-bg;
    background-color: $white;
    border: 1px solid $pink-bg;
    border-radius: 3px;

    &:hover {
      color: $white;
      background-color: $pink-bg;
    }
  }
}