@import "../../../variables";

.record {
  color: $text-config;
  background-color: $config-bg;

  &__data-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--address {
      grid-area: 3 / 1 / 4 / 3;
    }
  }

  input {
    width: 100%;
    height: 25px;
    color: $text-config;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;

    &[type='text'],
    &[type='password'],
    &[type='email'],
    &[type='date'] {
      padding: 0 10px;
      box-shadow: 0 0 2px 1px $text-config;

      &:focus:not(input[readonly]) {
        box-shadow: 0 0 2px 2px $text-config;
      }
    }

    &[readonly] {
      display: flex;
      padding: 0 10px;
      background-color: $config-bg;
    }
  }

  textarea {
    width: 100%;
    padding: 5px 10px;
    color: $text-config;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 2px 1px $text-config;
    resize: none;

    &:focus {
      box-shadow: 0 0 2px 2px $text-config;
    }
  }

  select {
    @extend input;
    padding-left: 6px;
    box-shadow: 0 0 2px 1px $text-config;
  }

  label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .tabulator {
    margin-top: 20px;
  }

  &__save-message {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 87px;
    border: 1px solid transparent;
    border-radius: 10px;
    transform: translate(-50%, -50%);

    &--success {
      color: #155724;
      background: #d4edda;
      border-color: #c3e6cb;
    }

    &--error {
      color: #721c24;
      background: #f8d7da;
      border-color: #f5c6cb;
    }
  }
}

.visible {
  display: flex;
}
