@import '../../variables';

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px calc(100vh - 60px);
  grid-row-gap: 10px;
  height: 100vh;

  &__loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
  }
}