@import "../../../../variables";

.client {
  background-color: $EG-light-grey;

  &__container {
    display: grid;
    grid-template: repeat(5, auto) / 72% 27%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
  }

  &__block {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 11px 7px -12px $text-config;

    &--main {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 2 / 6 / 3;
    }

    &--general {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    &--contact {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    &--registration {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    &--additionally {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }
  }

  &__block-title {
    width: 100%;
    grid-area: 1 / 1 / 2 / 4;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
  }
  
  &__photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    background-color: $EG-light-grey;
    box-shadow: 0 11px 7px -12px $text-config;
  }

  &__photo {
    display: block;
    width: auto;
    height: 100%;
  }

  input[type=radio] {
    margin: 10px 20px;
  }

  input.error {
    border-color: red;
  }

  .input-feedback {
    margin-top: .25rem;
    color: red;
  }
}