@import "../../variables";

.configurator {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 10px;

  &__left {
    padding-top: 10px;
    overflow: auto;
    background-color: $main-bg;
    box-shadow: -6px 6px 6px 5px $text-config;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    color: $dark-grey;
    transition: padding .5s;

    &:hover {
      padding-left: 20px;
    }
  }
  
  &__link--active {
    padding-left: 20px;
    color: $EG-white !important;
    background-color: $purple-bg;
    
  }
  
  &__right {
    overflow: hidden;
    background-color: $main-bg;
  }
}