@import "../../variables";

.configurator {
  display: grid;
  height: 100%;
  grid-template-columns: 200px auto;
  grid-column-gap: 5px;

  &__left {
    overflow: auto;
    background-color: $gallery;
    border-top-right-radius: 10px;
  }

  &__close-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-right: 10px;
    color: $victoria;
    font-size: 18px;
    background-color: transparent;

    svg {
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    color: $blue-bayoux;
    transition: padding .5s;

    &:hover {
      padding-left: 20px;
      color: $blue-bayoux;
    }
  }

  &__link--active {
    padding-left: 20px;
    color: $white !important;
    background-color: $victoria;
  }

  &__right {
    position: relative;
    overflow: hidden;
    background-color: $white;
    border-top-left-radius: 10px;
  }
}

.configurator__menu-hide {
  grid-template-columns: 15px auto;
  grid-gap: 5px;

  .configurator__left {
    overflow: hidden;
    background-color: $victoria;
  }

  .configurator__close-panel {
    padding-right: 3px;
    color: $white;
  }

  svg {
    transform: none;
  }

  .configurator__menu-wrapper {
    display: none;
  }
}