@import "../../variables";

.configurator {
  display: grid;
  height: 100%;
  grid-template-columns: 200px auto;
  grid-column-gap: 5px;

  &__left {
    overflow: auto;
    background-color: $gallery;
    border-top-right-radius: 10px;
  }

  &__menu-wrapper {
    width: 200px;
    background-color: $gallery;
    border-top-right-radius: 10px;
  }

  &__close-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-right: 10px;
    color: $victoria;
    font-size: 18px;

    svg {
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    color: $blue-bayoux;
    cursor: pointer;
    transition: padding .3s;

    &:hover {
      padding-left: 20px;
      color: $blue-bayoux;
    }

    &--active {
      padding-left: 20px;
      color: $white !important;
      background-color: $victoria;
    }
  }

  &__right {
    position: relative;
    overflow: hidden;
    background-color: $white;
    border-top-left-radius: 10px;
  }
}

.closed {
  grid-template-columns: 15px auto;

  .configurator__left {
    background-color: $victoria;
  }

  .configurator__menu-wrapper {
    width: 15px;
    background-color: $victoria;
  }

  .configurator__close-panel {
    width: 15px;
    padding-right: 3px;
    color: $white;

    svg {
      transform: none;
    }
  }

  .configurator__menu {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .configurator {
    grid-template-columns: 15px auto;
    position: relative;

    &__left {
      background-color: $victoria;
    }

    &__menu-wrapper {
      position: absolute;
      z-index: 100;
      width: 15px;
      height: 100%;
      background-color: $victoria;
      transition: .2s;
    }

    &__close-panel {
      width: 15px;
      padding-right: 3px;
      color: $white;
      transition: .2s;

      svg {
        transform: none;
      }
    }

    &__menu {
      display: none;
      opacity: 0;
      transition: .2s;
    }
  }

  .opened {
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $gallery;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);

    .configurator__close-panel {
      width: 200px;
      padding-right: 10px;
      color: $victoria;

      svg {
        transform: rotateY(180deg);
      }
    }

    .configurator__menu {
      display: initial;
      opacity: 1;
    }
  }
}

