@import '../../variables';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #F5F4F8;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 330px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 20px rgba(0, 0, 0, .1);
  }

  .field {
    width: 80%;
  }

  .button {
    width: 80%;
    margin: 10px 0 0 !important;
    color: #ffffff !important;
    background-color: #FF659E !important;

    &:active {
      transform: scale(.99);
    }
  }
}