@import "../../../variables";

.tabulator {
  width: 100%;
  background-color: #fff !important;
  border-left: 1px solid $EG-white !important;

  &-header {
    height: 40px;
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid $EG-white !important;
  }

  &-headers {
    display: flex;
    height: 100%;

  }
  &-table {
    width: 100%;
  }

  &-tableHolder {
    overflow: hidden !important;
  }

  &-sortable {
    display: inline-flex !important;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
    height: 100%;
  }

  &-cell {
    display: inline-flex !important;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
    height: 40px;
    font-size: 13px;

    &[tabulator-field="firstName"],
    &[tabulator-field="lastName"] {
      color: $purple-text !important;
      font-weight: bold;
    }

    &[tabulator-field="email"] {
      color: $medium-purple !important;
    }
  }

  &-row {
    display: flex;
    background-color: $EG-white;
    border-radius: 3px;

    &-even {
      background-color: #f9f9f9 !important;
      border-top: 3px solid $main-bg;
      border-bottom: 3px solid $main-bg;
    }

    &:hover {
      background-color: $main-bg !important;
    }
  }
}
  .grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 22px 0;
    background-color: $main-bg;

  &__add-btn {
    margin-right: 30px;
    padding: 8px 20px;
    color: $EG-white;
    font-size: 12px;
    background-color: $pink-bg;
    border: 1px solid $pink-bg;
    border-radius: 3px;

    &:hover {
      color: $pink-bg;
      background-color: $EG-white;
    }
  }

}