@import "../../../../variables.scss";

.grid-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: $gallery;
  border: 1px solid $white;

  &__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 5px;
    color: $white;
    font-size: 14px;
    white-space: nowrap;
    background-color: $hot-pink;
    border: 1px solid $hot-pink;
    border-radius: 3px;

    &:hover {
      color: $hot-pink;
      background-color: $white;
    }
  }

  &__plus-icon {
    margin-right: 5px;
    font-size: 12px;
  }

  .pagination {
    display: flex;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      padding: 0 !important;
      color: $blue-bayoux !important;
    }
  }
}

@media only screen and (max-width: 755px) {
  .grid-footer {
    .pagination .item {
      width: 25px;
      height: 30px;
    }

  }
}