@import "../../../../variables.scss";

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 10px 0;
  color: $blue-bayoux;
  font-size: 14px;
  background-color: $gallery;
  border: 1px solid $white;

  div {
    margin-bottom: 10px;

    &:first-child {
      margin-right: 20px;
    }
  }

  span {
    white-space: nowrap;
  }

  label {
    margin-right: 10px;
  }

  input,
  select {
    width: 150px;
    height: 30px;
    padding-left: 10px;
    background-color: $white;
    border: none;
    border-radius: 3px;
  }

  select {
    margin-right: 20px;
  }

  button {
    margin-bottom: 10px;
    padding: 6px 5px;
    color: $hot-pink;
    white-space: nowrap;
    background-color: $white;
    border: 1px solid $hot-pink;
    border-radius: 3px;

    &:nth-of-type(1) {
      margin-right: 20px;
    }

    &:not(:disabled):hover {
      color: $white;
      background-color: $hot-pink;
      border-color: $hot-pink;
    }

  }
}

@media only screen and (max-width: 1045px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    height: 80px;

    .tabulator {
      margin: 80px 0;
    }

    div{
      padding-top: 2px;
    }

    button {

      &:first-child {
        margin-left: 50px
      }
      &:last-child {
        margin-left: 91px;
      }
  }
}
}