@import "../../../../variables.scss";

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-width: 510px;
  padding: 10px 10px 0;
  color: $blue-bayoux;
  font-size: 14px;
  background-color: $gallery;
  border: 1px solid $white;

  &__value {
    margin-bottom: 10px;
  }

  &__status {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
  }

  span {
    white-space: nowrap;
  }

  label {
    margin-right: 10px;
  }

  input,
  select {
    width: 170px;
    height: 30px;
    margin-right: 20px;
    padding-left: 10px;
    background-color: $white;
    border: none;
    border-radius: 3px;
  }

  &__button {
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 6px 5px;
    color: $hot-pink;
    white-space: nowrap;
    background-color: $white;
    border: 1px solid $hot-pink;
    border-radius: 3px;

    &:not(:disabled):hover {
      color: $white;
      background-color: $hot-pink;
      border-color: $hot-pink;
    }
  }
}