.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000; 

  &__wrapper {
    width: 70px;
  }

  &__title {
    margin: 0 0 5px;
    color: white;
    font-weight: normal;
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  &__lines {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    width: 1px;
    height: 12px;
    background-color: #fff;
    animation: fade 1000ms infinite ease-in-out;

    &--one {
      animation-delay: 800ms;
    }

    &--two {
      animation-delay: 700ms;
    }

    &--three {
      animation-delay: 600ms;
    }

    &--four {
      animation-delay: 500ms;
    }

    &--five {
      animation-delay: 400ms;
    }

    &--six {
      animation-delay: 500ms;
    }

    &--seven {
      animation-delay: 600ms;
    }

    &--eight {
      animation-delay: 700ms;
    }

    &--nine {
      animation-delay: 800ms;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}