.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000;
  
  &__dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 330px;
    background-color: #fff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 5px;
  }

  &__link {
    color: #808080;
    font-size: 12px;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  &__data-error {
    position: absolute;
    bottom: 33px;
    left: 0;
    display: none;
    width: 100%;
    color: red;
    font-size: 12px;
    text-align: center;

    &:first-child {
      top: 20px;
      bottom: initial;
      display: initial;
    }
  }
}
