@import "../../../variables";

.locale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;

  &__switcher {
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid black;
    }

    &--active {
      cursor: default;
      opacity: .2;

      &:hover {
        border-bottom: none;
      }
    }
  }
}