.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: .5vh;
  height: 100%;

  &__left {
    background-color: whitesmoke;
  }

  &__menu {
      margin: 1em;
  }

  &__menuitem {
      margin: 1em .5em;
  }

  &__right {
    overflow-y: auto;
    background-color: whitesmoke;
  }
}