@import "../../../variables";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #fff;

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: black;
    background-color: $mainBackGround;
    outline: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link--active {
    background-color: #fff;
  }
}
