@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $main-bg;

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    color: black;
    font-weight: bold;
  }

    &__logo {
      width: 100%;
      height: auto;
    }


}