@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: $headerBg;
  box-shadow: 0px -6px 6px 5px $headerBg;

  .header__right-col {
    display: flex;
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    color: black;
    font-weight: bold;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}