@import "../../variables";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $gallery;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 0;
    color: #000;

    &:hover {
      background-color: #fff;
    }
  }
}