@import "../../../variables";

.rc-tabs {
  height: 100%;

  // custom classes:

  &__add-btn {
    position: relative;
    display: block;
    box-sizing: initial;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: $main-bg;
    }

    &:active {
      transform: scale(.95);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 60%;
      background-color: #999;
      border-radius: 10px;
      -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
      -moz-transform: translate(-50%, -50%) rotateZ(90deg);
      -ms-transform: translate(-50%, -50%) rotateZ(90deg);
      -o-transform: translate(-50%, -50%) rotateZ(90deg);
      transform: translate(-50%, -50%) rotateZ(90deg);
    }

    &::after {
      @extend .rc-tabs__add-btn::before;
      -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
      -moz-transform: translate(-50%, -50%) rotateZ(0deg);
      -ms-transform: translate(-50%, -50%) rotateZ(0deg);
      -o-transform: translate(-50%, -50%) rotateZ(0deg);
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    max-width: 85%;
    height: 100%;
    overflow: hidden;
  }

  &__close-btn {
    position: relative;
    display: block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -5px 0 10px 3px white;
    cursor: pointer;

    &:hover {
      background-color: $main-bg;
    }

    &:active {
      transform: scale(.95);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 60%;
      background-color: #999;
      border-radius: 10px;
      -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
      -moz-transform: translate(-50%, -50%) rotateZ(45deg);
      -ms-transform: translate(-50%, -50%) rotateZ(45deg);
      -o-transform: translate(-50%, -50%) rotateZ(45deg);
      transform: translate(-50%, -50%) rotateZ(45deg);
    }

    &::after {
      @extend .rc-tabs__close-btn::before;
      -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
      -moz-transform: translate(-50%, -50%) rotateZ(-45deg);
      -ms-transform: translate(-50%, -50%) rotateZ(-45deg);
      -o-transform: translate(-50%, -50%) rotateZ(-45deg);
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }

    &--disabled {
      display: none;
    }
  }

  // override classes:

  &-content {
    height: 95%;
    background-color: #fff;
    border: 15px solid $main-bg;
  }

  &-bar {
    height: 5%;
    background-color: #fff;
    border-bottom: none !important;
  }

  &-nav-container,
  &-nav-wrap,
  &-nav-scroll {
    height: 100%;
  }

  &-nav-scroll {
    display: flex;
    align-items: flex-end;
  }

  &-nav {
    height: 100%;
  }

  &-nav > div:first-child {
    position: relative;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 50%;
      background-color: $main-bg;
    }
  }

  &-tab:not(.rc-tabs-tab-disabled) {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 100%;
    margin: 0 !important;
    padding: 0 5px 0 15px !important;
    color: #999;
    background-color: #fff;
    border-top: 1px solid $main-bg;
    border-left: 1px solid $main-bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:nth-last-of-type(2) {
      border-right: 1px solid $main-bg;
      border-bottom-right-radius: 0!important;
    }

    &:hover {
      color: black !important;
    }
  }

  &-ink-bar {
    background-color: transparent !important;
  }

  &-tab-disabled {
    z-index: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
  }

  &-tab-active {
    color: black !important;
    background-color: $main-bg !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    & + .rc-tabs-tab {
      border-bottom-left-radius: 10px !important;
    }

    & .rc-tabs__close-btn {
      box-shadow: -5px 0 10px 3px $main-bg;
    }

    & .rc-tabs__close-btn:hover {
      background-color: #fff;
    }
  }

  &-tab-prev{
    padding: 0 13px 0 8px;
    color: #999;
    font-size: 24px;
    border: 1px solid #999;
  }

  &-tab-next{
    padding: 0 10px 0 10px;
    color: #999;
    font-size: 24px;
    border: 1px solid #999;
  }
}