.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.app {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}


