.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.app {
  display: grid;
  height: 100vh;
  font-family: 'Lato', sans-serif;

  &__user {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}


