@import "variables";

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  grid-row-gap: .7vh;
  height: 100vh;
  font-family: 'Lato', sans-serif;

  &__preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: $main-bg;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    color: black;
    font-weight: bold;
    background-color: #fff;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 100%;
    background-color: #fff;
  }

  &__avatar {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    background-color: $main-bg;
    border-radius: 50%;
    cursor: pointer;
  }

  &__btn-logout {
    background-color: $main-bg;
    border: none;
  }
}


