@import "variables";

body {
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

input {
  width: 100%;
  height: 30px;
  margin: 10px 0 20px;
  border: none;
  outline: none;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    padding-left: 10px;
    box-shadow: 1px 1px 3px 1px #ccc;

    &:focus {
      box-shadow: 1px 1px 3px 2px #ccc;
    }

    &::placeholder {
      color: #808080;
    }
  }

  &[type="submit"] {
    padding: 0;
    color: #fff;
    background-color: #000;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }

    &:active {
      transform: scale(.99);
    }
  }
}

label {
  font-weight: bold!important;
}
