$main-bg: #e6e6e6;
$config-bg: #e3e9f3;
$text-config: #4c5a75;
$pink-bg: #FF659E;
$purple-bg: #584B82;
$white: #ffffff;

$EG-purple-dark: #5b205c;
$EG-purple-light: #652e66;
$EG-pink: #ed1261;
$EG-blue: #00a0df;
$EG-blue-dark: #4a326c;
$EG-light-grey: #f2f2f2;
$EG-white: #ffffff;
$pink-text: #EF6298;
$light-text: #DFDFFF;