$gallery: #EAEAEA;
$blue-bayoux: #4c5a75;
$hot-pink: #FF659E;
$white: #ffffff;
$victoria: #584B82;
$fog: #DFDFFF;
$concrete: #f2f2f2;
$kimberly: #7573A3;
$butterfly-bush: #62568F;
$whisper:#F5F4F8;

// override tabulator variables:

$borderColor: #F5F4F8 ;
$rowBorderColor: #ffffff;
$headerBackgroundColor: #F5F4F8;
$headerBorderColor: #ffffff;
$sortArrowActive: #584B82;
$sortArrowInactive: #62568F;
$headerTextColor: #444444;

@import "~tabulator-tables/src/scss/tabulator";